@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section>
        <article>
        <h4>@ViewData["Article-1-heading"];</h4>
        <p>@ViewData["Article-1-body"];</p>
        </article>
        <hr>
        <article>
        <h4>@ViewData["Article-2-heading"];</h4>
        <p>@ViewData["Article-2-body"];</p>
        </article>
        <hr>
                <article>
        <h4>@ViewData["Article-3-heading"];</h4>
        <p>@ViewData["Article-3-body"];</p>
        </article>
        <hr>
                <article>
        <h4>@ViewData["Article-4-heading"];</h4>
        <p>@ViewData["Article-4-body"];</p>
        </article>
    </section>
</main>       